<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BIOMarket | Chuyên Bia Nhập Khẩu</title>
  <base href="/angular/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.82ec339308e5b5fce1d9.css"></head>
<body id="main-body">
  <app-root></app-root>
<script src="runtime.0e49e2b53282f40c8925.js" defer></script><script src="polyfills.3116b8e9dbb90fea460e.js" defer></script><script src="main.ea8bb8b71b8e51141409.js" defer></script></body>
</html>
