<html>
    <header>
        <title>Login</title>
        <link rel="stylesheet" href="styles/style.css">
    </header>
    <body>
        <div class="container-form">
            <div class="form-box">
                <div class="form-header">
                    <img class="login-icon" src="img/icon.png" alt="">
                </div>
                <form action="" class="input-group">
                    <input type="text" class="input-field" placeholder="User Name" required>
                    <input type="password" class="input-field" placeholder="Password" required>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>