<html>
<header>
    <title>Login</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/md5.js"></script>
    <script src="js/login.js"></script>
</header>
<body>
<div class="container-form">
    <div class="form-box">
        <div class="form-header">
            <img class="login-icon" src="img/icon.png" alt="">
        </div>
        <form action="" class="input-group">
            <input id="txtUserName" type="text" class="input-field" placeholder="User Name" required>
            <input id="txtPassword" type="password" class="input-field" placeholder="Password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button id="btnLogin" type="submit" class="submit-btn">Login</button>
        </form>
    </div>
</div>
</body>
</html>